.Tilt{
    background: linear-gradient(90deg, rgba(0, 143, 172, .9) 0%, rgba(16, 16, 119, .9) 49%, rgba(119, 0, 129, .9) 100%);
 }

 .Tilt-inner {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
 }